4-3/mnist/t10k-images-idx3-ubyte
4-3/mnist/t10k-images-idx3-ubyte.gz
4-3/mnist/t10k-labels-idx1-ubyte
4-3/mnist/t10k-labels-idx1-ubyte.gz
4-3/mnist/train-images-idx3-ubyte
4-3/mnist/train-images-idx3-ubyte.gz
4-3/mnist/train-labels-idx1-ubyte
4-3/mnist/train-labels-idx1-ubyte.gz
4-2/data/iris.csv
*.pgm
*.csv
